.cuadrado {
    height: 600px;
    width: 600px;
    border: 2px solid black;
    margin: 50px 350px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: center;
    color: white;
}

.cuadrado1 {
    height: 200px;
    width: 200px;
    background-color: red;
    align-content: center;    
}

.cuadrado2 {
    height: 200px;
    width: 200px;
    background-color: blue;
}

.cuadrado3 {
    height: 200px;
    width: 200px;
    background-color: green;
}


.centrado {
    display: flex;
    justify-content: center;
    margin: 48%;
}